<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-libro.png" />
	<link rel="icon" href="/images/icon.png" class="icon-circular" type="image/png">

	<title> Resultado de búsqueda </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<% if (libro && libro.length > 0) { %>
					<% for (let i = 0; i < libro.length; i++) { %>
					  <div class="col-sm-6 col-lg-3">
						<div class="producto">
						  <h4>
							<a href="/product/detail/<%= libro[i].id %>">
							  <%= libro[i].nombre_producto %>
							</a>
						  </h4>
						  <p>Subido por:
							<a href="/user/profile/<%= libro[i].usuario.id %>">
							  <%= libro[i].usuario.username %>
							</a>
						  </p>
						</div>
					  </div>
					<% } %>
				  <% } else { %>
				  <p><%= mensaje %></p>
				<% } %>
			  </div>
			  
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>